<div id="main-screen">
	<h3>Main Screen</h3>
	Money: {{currPlayer.money}}<br/>
	Your Family Coat of Arms:
	<div class="coatOfArms">
		<div class="silk" [style.backgroundColor]="currPlayer.color"  [style.background]="currPlayer.calculateBackground"></div>
		<div class="name">{{currPlayer.name}}</div>
	</div>
	<div>Horse:
		<app-buy-horse [horse]="currPlayer.horses[0]"></app-buy-horse>
	</div>
	<div class="formButtonArea">
		<button (click)="gotoRace()">RACE</button>
	</div>
	<div class="warnings">
	{{warningText}}
	</div>
</div>
