<div id="race"  class="screen" [ngStyle]="{'min-width.px': currRace.baseRace.distance + 100}">
<h3>{{currRace.baseRace.name}}</h3>

	<div class="margintop" *ngIf="currRace.preRace">
		<div class="props">
			<div class="label">Distance:</div><div class="value">{{currRace.baseRace.distance/100}} Furlongs</div>
			<div class="label">Entrace fee:</div><div class="value">{{currRace.baseRace.entranceFee | currency: 'EUR' }}</div>
			<div class="label">Prizes:</div>
					<div class="prizes value" *ngFor="let currPrize of currRace.baseRace.prizes; index as i" [attr.data-index]="i">
						<div class="prizeValue"> <div class="coinCircle prize{{i+1}}">{{i+1}}</div> &nbsp; {{currPrize | currency: 'EUR'}}</div>
					</div>
			<div class="label horsesLabel">Horses:</div>
				<div class="horsesContainer">
					<span class="participants" *ngFor="let currHorse of currRace.horses">
						<div class="playerHorseMarker" *ngIf="currHorse === currRace.playerHorse" [style.backgroundColor]="currHorse.color"></div>
						<div class="horseName" [style.color]="currHorse.color">{{currHorse.track}}: {{currHorse.name}} (Speed: {{currHorse.baseHorse.speed}}; Stamina: {{currHorse.baseHorse.stamina}})</div>
					</span>
				</div>
		</div>
		<div class="buttonArea"><button [class.disabled]="currRace.player.money < currRace.baseRace.entranceFee"  [disabled]="currRace.player.money < currRace.baseRace.entranceFee" (click)="startRace()">Start Race</button>
		<span *ngIf="currRace.player.money < currRace.baseRace.entranceFee">Not enough money to pay entrance fee.</span>
		</div> 		
	</div>
	<div class="margintop" *ngIf="!currRace.preRace">
		Race Time: {{currRace.raceTimer | number:'2.1-1'}}
		<div class="raceStadium" [ngStyle]="{'width.px': currRace.baseRace.distance + 80}" [style.backgroundColor]="currRace.baseRace.color" >
			
			<div class="silks">
				<span *ngFor="let currHorse of currRace.horses">
					<div class="playerHorseMarker" *ngIf="currHorse === currRace.playerHorse"  [style.backgroundColor]="currHorse.color"></div> <div class="silkContainer" id="horse{{currHorse.track}}"><div class="silk"  [style.backgroundColor]="currHorse.color"></div></div>
				</span>
			</div>
			<div class="raceTrack">
				<div *ngFor="let currHorse of currRace.horses" class="raceLine" [ngStyle]="{'width.px': currRace.baseRace.distance}">
					&nbsp;{{currHorse.track}}
				</div>
			</div>
		</div> 
		<div class="liveClassification">
			Live Classification:<br />
			<div class="participants" *ngFor="let currHorse of currRace.sortedHorses">
				<div class="playerHorseMarker" *ngIf="currHorse === currRace.playerHorse" [style.backgroundColor]="currHorse.color"></div>
				<div class="horseName" [style.color]="currHorse.color">{{currHorse.track}}: {{currHorse.name}} <span *ngIf="debug"> {{currHorse.speed}}, {{currHorse.fullStamina}}</span></div>
			</div>
		</div>
		<div *ngIf="currRace.raceFinished" class="endRace">
			<div>You finished in place: {{currRace.place}}</div>
			<div *ngIf="currRace.wonPrize > 0">Congratulations! You won {{currRace.wonPrize | currency: 'EUR'}}</div>
			<button (click)="exitRace()">Continue</button>
		</div>
		<div class="clear"></div>
	</div>
</div>
