<div id="race" *ngIf="currRace" class="screen" [ngStyle]="{'min-width.px': 800}">
<h3>{{currRace.baseRace.name}}</h3>

	<div *ngIf="currRace.state === RaceState.PreRace">
		<div class="props">
			<div class="label">Distance:</div><div class="value">{{currRace.baseRace.distance/100}} Furlongs</div>
			<div class="label">Entrace fee:</div><div class="value">{{currRace.baseRace.entranceFee | currency: 'EUR' : 'symbol':'1.0-0' }}</div>
			<div class="label">Prizes:</div>
					<div class="prizes value" *ngFor="let currPrize of currRace.baseRace.prizes; index as i" [attr.data-index]="i">
						<div class="prizeValue"> <div class="coinCircle prize{{i+1}}">{{i+1}}</div> &nbsp; {{currPrize | currency: 'EUR' : 'symbol':'1.0-0'}}</div>
					</div>
			<div class="label horsesLabel">Horses:</div>
				<div class="horsesContainer">
					<span class="participants" *ngFor="let currHorse of currRace.horses">
						<div class="playerHorseMarker" *ngIf="currHorse === currRace.playerHorse" [style.backgroundColor]="currHorse.color"></div>
						<div class="horseName" [style.color]="currHorse.color">{{currHorse.track}}: {{currHorse.baseHorse.name}} (Speed: {{currHorse.baseHorse.speed | number:'2.0-1' }}; End: {{currHorse.baseHorse.endurance | number:'2.0-1'}}; Acc: {{currHorse.baseHorse.acceleration | number:'2.0-1'}})</div>
					</span>
				</div>
			<div class="strategiesContainer">
				<div class="label horsesLabel">Strategy:</div>
				<mat-radio-group class="strategies" [(ngModel)]="currRace.playerHorse.strategy">
			    <mat-radio-button class="radio" [value]="RaceStrategy.Everything" >Full Speed!</mat-radio-button>
			    <mat-radio-button class="radio" [value]="RaceStrategy.HalfWay">Sprint Halfway.</mat-radio-button>
			    <mat-radio-button class="radio" [value]="RaceStrategy.End">Sprint only in the end.</mat-radio-button>
    			</mat-radio-group>
	    	</div>
		</div>
		<div class="buttonArea"><button [disabled]="!(currRace.player.money >= currRace.baseRace.entranceFee)" class="race" (click)="startRace()">Start Race</button>
		<span *ngIf="!(currRace.player.money >= currRace.baseRace.entranceFee)">Not enough money to pay entrance fee.</span>
		<button (click)="exitRace()" class="skip">Skip Race</button>
		</div> 		
	</div>
	<div class="margintop" *ngIf="currRace.state !== RaceState.PreRace">
		<div class="raceTextContainer">Race Time: {{currRace.raceTimer | number:'2.1-1'}}</div>
		<div class="raceTextContainer">
			<span class="staminaLabel">Stamina:</span> <div class="fullStaminaBar"><div class="staminaBar" [style.width.px]="currRace.playerHorse.staminaDisplay"></div></div>
		</div>
		<div *ngIf="debug">{{currRace.debugMessage}}</div>
		<div class="clear"></div>
		<div [class]="currRace.state === RaceState.RaceFinished ? 'hideRaceStadium' : !currRace.roundTrack ? 'raceStadium' : 'roundRaceStadium'" [ngStyle]="{'width.px': !currRace.roundTrack ? currRace.baseRace.distance  + 80 : curveRaceMinDistance + 40}" [style.backgroundColor]="currRace.baseRace.color" >
			<div class="specialCongrats" *ngIf="currRace.worldChampion">WORLD CHAMPION!</div>
			<div class="silks" *ngIf="currRace.state !== RaceState.RaceFinished"  [ngStyle]="{'margin-left.px': !currRace.roundTrack ? 0 : 45 - ((currRace.baseRace.distance/2 - roundTrackBottomDistance) * 2) }">
				<span *ngFor="let currHorse of currRace.horses">
					<div class="silkContainer" id="horse{{currHorse.track}}" [style.left.px]="currHorse.cssLeft" [style.top.px]="currHorse.cssTop"><div class="silk"  [style.background]="currHorse.cssBackground"></div></div>
				</span>
			</div>
			<div [class]="!currRace.roundTrack ? 'raceTrack' : 'roundRaceTrack'" [ngStyle]="{'width.px': !currRace.roundTrack ? currRace.baseRace.distance : currRace.baseRace.distance - (roundTrackBottomDistance - currRace.roundTrackCurvePixels/2), 'margin-left.px': !currRace.roundTrack ? 40 : 85 - ((currRace.baseRace.distance/2 - roundTrackBottomDistance) * 2) }">
				<div *ngFor="let currHorse of currRace.horses" [class]="currRace.state === RaceState.RaceFinished ? 'hideRaceLine' : 'raceLine'" [ngStyle]="{'width.px': !currRace.roundTrack ? currRace.baseRace.distance : currRace.baseRace.distance  - roundTrackBottomDistance}">
				 	<div class="playerHorseMarker" *ngIf="currHorse === currRace.playerHorse"  [style.backgroundColor]="currHorse.color"></div>
					&nbsp;{{currHorse.track}}
				</div>
				<div class="clear"></div>
			</div>
			<div *ngIf="currRace.state !== RaceState.RaceFinished && currRace.roundTrack" [class]="'roundRaceTrackSecond'"  [ngStyle]="{'width.px': roundTrackBottomDistance + 43 + (currRace.roundTrackCurvePixels/4)}">
				<div *ngFor="let currHorse of currRace.horses" [class]="currRace.state === RaceState.RaceFinished ? 'hideRaceLine' : 'raceLine'" [ngStyle]="{'width.px': !currRace.roundTrack ? currRace.baseRace.distance : roundTrackBottomDistance + 43 + (currRace.roundTrackCurvePixels/4)}">
				</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div> 
		<div class="liveClassification">
			Live Classification:<br />
			<div class="participants" *ngFor="let currHorse of currRace.sortedHorses">
				<div class="playerHorseMarker" *ngIf="currHorse === currRace.playerHorse" [style.backgroundColor]="currHorse.color"></div>
				<div class="horseName" [style.color]="currHorse.color">{{currHorse.track}}: {{currHorse.baseHorse.name}} <span *ngIf="debug"> {{currHorse.speed | number:'2.0-1'}}, {{currHorse.fullStamina}},  {{currHorse.currentAcceleration  | number:'0.0-2'}}</span></div>
			</div>
		</div>
		<div class="comments">
			<div class="comment" *ngFor="let currComment of currRace.comments.slice().reverse()" [style.background]="currComment.color" [style.color]="currComment.color == '#000000' ? '#ffffff' : '#000000'">
				{{currComment.message}}
			</div>
		</div>
		<div *ngIf="currRace.state === RaceState.RaceFinished" class="endRace">
			<div>You finished in place: {{currRace.place}}</div>
			<div *ngIf="currRace.wonPrize > 0">Congratulations! You won {{currRace.wonPrize | currency: 'EUR'}}</div>
			<button (click)="exitRace()">Continue</button>
		</div>
		<div class="clear"></div>
	</div>
</div>
