
#race {
}


.props {
	float: left;
}

.label {
	clear: left;
}

.value {
	justify-content: center; 
}

.label, .value{
	width: 105px;
	float: left;
	height: 20px;
	border: 1px solid #000;
	padding: 6px;
	display: flex;
	align-items: center;
	
}

.prizeValue {
	display: flex;
	align-items: center;
	text-align: center;
}

.coinCircle {
	border-radius: 100%;
	width: 23px;
    height: 23px;
   	float: left;
   	background: #fff;
   	display: flex;
   	align-items: center;
  	justify-content: center;
}


.prize1 {
    background: #f2d732;
}

.prize2 {
    background: #a0a0a0;
}

.prize3 {
    background: #dfb667;
}

.horsesLabel {
	margin-top: 20px;
	border: 0;
	width: 60px;
	height: 10px;
}

.horsesContainer {
	margin-top: 20px;
	border: 0;
	padding: 0;
	float: left;
}

.participants {
	clear: left;
	width: 345px;
	border: 0;
	height: 20px;
	padding-top: 2px;
	display: flex;
	
}

.playerHorseMarker{
	position: relative;
	border-radius: 100%;
	width: 10px;
    height: 10px;
    background: #fff;
    margin-top: 4px;
    margin-right: -10px;
    left: -4px;
}

.strategiesContainer{
	clear: both;
}

.strategies {
	clear: both;
	margin-top: 10px;
	margin-left: 10px;
	float: left;
}

.radio {
	  display: inline-flex;
  		flex-direction: column;
}

.mat-radio-button {
	margin-bottom: 10px;
	clear: both;
	float: left;
}

.buttonArea {
	padding-top: 40px;
	margin-left: 15px;
	clear: left;
}

.buttonArea span {
	margin-left: 10px;
}

.buttonArea button{
	margin-right: 40px;
}

.raceTextContainer{
	margin-bottom: 5px;
}

.staminaLabel {
	float: left;
}

.fullStaminaBar{
	width: 100px;	
}


.raceStadium{
	margin: 0 auto;
	margin-top: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #fff;
}

.roundRaceStadium{
	margin: 0 auto;
	margin-top: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #fff;
}

.hideRaceStadium{
	margin: 0 auto;
	scale: 0.0;
	transition: all 1s;
}

.raceTrack{
	margin-left: 40px;
	margin-top: 7px;
	margin-right: 40px;
	border: 1px solid #fff;	
	border-left: none;
	border-right: 3px dashed #fff;
}

.roundRaceTrack{
	margin-top: 7px;
	border: 1px solid #fff;	
	border-bottom: none;
	border-left: none;
 	border-top-right-radius: 150px;
}

.roundRaceTrack:after {
	content: ""; 
	display: block;
    height: 35px; 
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top-right-radius: 35px;
    width: calc(100% - 150px);
}

.roundRaceTrackSecond{
	margin-left: 240px;
	border: 1px solid #fff;	
	border-top: none;
	border-left: none;
 	border-bottom-right-radius: 150px;
 	transition: 1s cubic-bezier(0, 0.33, 0.66, 1);
}

.roundRaceTrackSecond:before {
    content: ""; 
    display: block;
    width: 250px; 
    height: 35px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom-right-radius: 35px;
}

.prizeValue{
	margin-left: 15px;
}


.roundRaceTrackSecond .raceLine{
	 border-left: 3px dashed #fff;
}



.raceLine{
	float: left;
	display: flex;
	height: 16px;
	margin-left: 0px;
	align-items: center;
	border-left: 1px solid;
}

.raceLine:nth-last-child(2){
	height: 17px;
}

.hideRaceLine {
	height: 0px;
	opacity: 0;
	transition: 1s cubic-bezier(0, 0.33, 0.66, 1);
}


.horseName {
	margin-left: 10px;
}

.silks {
	float: left;
	margin-top: 2px;
}


.silkContainer {
	clear: left;
	transform: scale(0.07);
	position: relative;
	width: 20px;
	height: 16px;
	top: 1px;
	left: 4px;
}


.silks .playerHorseMarker{
	margin-top: 10px;
	margin-bottom: -20px;
	left: 8px;
}


.liveClassification{
	float: left;
	background-color: #fff;
	padding: 5px;
	margin-right: 20px;
	border: 1px solid #444;
	margin-top: 20px;
}

.liveClassification .participants {
	width: 220px;
}

.comments {
	float: left;
	width: 350px;
	height: 100px;
	overflow-y: scroll;
	border: 1px solid #444;
	margin-bottom: 10px;
	background-color: #fff;
	margin-top: 20px;
}

.comment {
	padding: 3px;
}


.endRace {
	float: left;
	margin-left: 10px;
}

.endRace div{
	padding: 10px;
}

.endRace div:FIRST-CHILD{
	padding-bottom: 0px;
}

.raceStadium .specialCongrats{
	margin-left: 20px;
	font-size: 62px;
	animation: blinker 0.6s cubic-bezier(1, 0, 0, 0) infinite alternate;  
	color: #f2d732;
}

@keyframes blinker { to { opacity: 0; } }

