
#race {
}


.props {
	float: left;
}

.label {
	clear: left;
}

.value {
	justify-content: center; 
}

.label, .value{
	width: 115px;
	float: left;
	height: 20px;
	border: 2px solid #777;
	border-top: 4px solid #777;
	border-bottom: 0px;
	padding: 6px;
	display: flex;
	align-items: center;
	
}

.label {
	border-left: 4px solid #777;
}

.value, .tableProps>div:nth-last-child(1) {
	border-right: 4px solid #777;
}

.value.prizes {
	border-right: 2px solid #777;
}

.tableProps>div:nth-last-child(4), .tableProps>div:nth-last-child(3),
.tableProps>div:nth-last-child(1), .tableProps>div:nth-last-child(2) {
	border-bottom: 4px solid #777;
}

.prizeValue {
	display: flex;
	align-items: center;
	text-align: center;
}

.coinCircle {
	border-radius: 100%;
	width: 23px;
    height: 23px;
   	float: left;
   	background: #fff;
   	display: flex;
   	align-items: center;
  	justify-content: center;
}


.prize1 {
    background: #f2d732;
}

.prize2 {
    background: #a0a0a0;
}

.prize3 {
    background: #dfb667;
}

.horsesLabel {
	margin-top: 20px;
	border: 0;
	width: 60px;
	height: 10px;
}

.nowidth{
	width: auto;	
}

.horsesContainer {
	margin-top: 20px;
	border: 0;
	padding: 0;
	float: left;
}

horse {
	float: left;	
}

.participants {
	clear: left;
	width: 390px;
	border: 0;
	height: 20px;
	padding-top: 2px;
	display: flex;
	
}

.raceLine .playerHorseMarker{
	margin-top: 0px;
	left: -32px;
}

.playerHorseMarker{
	position: relative;
	border-radius: 100%;
	width: 10px;
    height: 10px;
    background: #fff;
    margin-top: 4px;
    margin-right: -10px;
    left: -4px;
}

.strategiesContainer{
	clear: both;
}

.strategies {
	clear: both;
	margin-top: 5px;
	margin-left: 10px;
	float: left;
}

input[type=radio] {
  border: 3px solid #000;
  padding: 7px;
  -webkit-appearance: none;
  margin-top: 0px;
}

.strategies label{
	margin-left: 4px;
	width: 350px;
}

.strategies div{
	display: flex;
	align-items: center;
	height: 28px;
	width: 400px;
}

input[type=radio]:checked {
  background: url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNk+A8AAQUBAScY42YAAAAASUVORK5CYII=)
  no-repeat center center;
  background-size: 8px 8px;
}

input[type=radio]:focus {
  outline-color: transparent;
}


.buttonArea {
	padding-top: 40px;
	margin-left: 15px;
	clear: left;
}

.buttonArea span {
	margin-left: 10px;
}

.buttonArea button{
	margin-right: 40px;
}

.raceTextContainer{
	margin-bottom: 5px;
}

.raceTextContainer.header{
	width: 250px;
	float: left;
}

.staminaLabel {
	float: left;
}

.fullStaminaBar{
	width: 100px;	
}


.raceStadium{
	margin: 0 auto;
	margin-top: 5px;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #fff;
}

.hideRaceStadium{
	margin: 0 auto;
	scale: 0.0;
	opacity: 0.0;
	transition-property: margin, scale, opacity;
	transition-duration: 1.5s, 1.5s, 0.8s;
	transition-delay: 0s, 0s, 0.6s;
}

.raceTrack{
	margin-left: 40px;
	margin-top: 7px;
	margin-right: 40px;
	border: 3px solid #fff;	
	border-left: none;
	border-right: 3px dashed #fff;
}

.hideRaceTrack {
	margin-top: 0;
	scale:  0.0;
	transition: all 1.5s;
}

.roundRaceTrack{
	margin-top: 7px;
	border: 3px solid #fff;	
	border-bottom: none;
	border-left: none;
 	border-top-right-radius: 150px;
}

.roundRaceTrack:after {
	content: ""; 
	display: block;
    height: 25px; 
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    border-top-right-radius: 35px;
    width: calc(100% - 150px);
}

.roundRaceTrackSecond{
	margin-left: 75px;
	border: 3px solid #fff;	
	border-top: none;
	border-left: none;
 	border-bottom-right-radius: 150px;
 	transition: 1.5s cubic-bezier(0, 0.33, 0.66, 1);
}

.roundRaceTrackSecond:before {
    content: ""; 
    display: block;
    width: 445px; 
    height: 25px;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
    border-bottom-right-radius: 35px;
}

.prizeValue{
	margin-left: 15px;
}


.roundRaceTrackSecond .raceLine{
	 border-left: 3px dashed #fff;
}


.raceLine{
	float: left;
	display: flex;
	height: 16px;
	margin-left: 0px;
	align-items: center;
	border-left: 3px solid;
}

.raceLine:first-child{
	height: 17px;
}

.raceLine:nth-last-child(2){
	height: 17px;
}

.hideRaceLine {
	height: 0px;
	opacity: 0;
	transition: 1.5s cubic-bezier(0, 0.33, 0.66, 1);
}


.horseName {
	margin-left: 10px;
}

.silks {
	float: left;
	margin-top: 10px;
}


.silkContainer {
	clear: left;
	transform: scale(0.07);
	position: relative;
	width: 20px;
	height: 0px;
	top: 0px;
	left: 4px;
}


.silks .playerHorseMarker{
	margin-top: 10px;
	margin-bottom: -20px;
	left: 8px;
}


.liveClassification{
	float: left;
	background-color: #fff;
	padding: 5px;
	margin-right: 20px;
	border: 1px solid #444;
	margin-top: 20px;
}

.liveClassification .participants {
	width: 220px;
}

.comments {
	float: left;
	width: 400px;
	height: 100px;
	overflow-y: scroll;
	border: 1px solid #444;
	margin-bottom: 10px;
	background-color: #fff;
	margin-top: 20px;
}

.border {
	border: 4px solid #999;
	box-shadow:
		3px 3px #444;
}

.comment {
	padding: 3px;
}

.endRace {
	margin-top: 5px;
	margin-left: 10px;
	float: left;
}

.raceStadium .specialCongrats{
	margin-left: 20px;
	font-size: 62px;
	animation: blinker 0.6s cubic-bezier(1, 0, 0, 0) infinite alternate;  
	color: #f2d732;
}

@keyframes blinker { to { opacity: 0; } }


.exclamation{
	font-family: Verdana;
	font-size: 18px;
}

.prestigeCalc {
	margin: 15px;
	padding: 5px;
	border: 2px solid #777;
}

.prestigePoints.left{
	float: left;
	clear: left;
}

.prestigePoints.right{
	width: 50px;
	float: right;
	text-align: right;
}

.prestigePoints.total.right{
	border-top: 2px solid #000;
}