#appScreen {
	min-height: 100%;
	-webkit-background-size: cover !important;
  	-moz-background-size: cover  !important;
  	-o-background-size: cover  !important;
  	background-size: cover  !important;
  	image-rendering: pixelated;
}

#headerArea {
	padding: 0px;
	padding-bottom: 10px;
}

.titleArea {
	background-color: #447744;
	padding: 7px 7px 7px 10px;
	margin: 0 auto;
	min-width: 742px;
	max-width: 1000px;
}

#topMenu {
	border: 2px solid #ffd700;
	background-color: #ffd700;
	padding: 5px;
	margin: 0 auto;
	min-width: 748px;
	max-width: 1000px;
	margin-top: 10px;
	clear: both;
	color: #000;
}

#topMenu .menuItem {
	margin-left: 15px;
}

#topMenu .menuItemDiv:before {
	margin-left: 15px;
	margin-right: 0px;
	content: "|"
}

#topMenu .menuItem:first-child:before {
	content: ""
}

h1 {
	color: #dddddd;
	font-size: 2em;
	margin: 0px;
	float: left;
	font-weight: normal;
}

h2 {
	margin-left: 15px;
	margin-top: 20px;
	margin-bottom: 0px;
	color: #bbb;
	font-size: 0.9em;
	font-weight: normal;
	float: left;
}

.rightMenu {
	float: right;
}

.rightMenu span {
	margin-right: 7px;
	float: left;
}

.rightMenu .money{
    margin-top: -3px;
}

.rightMenu span:after {
	margin-left: 7px;
	content: "|"
}

.rightMenu span:last-child:after {
	margin-left: 15px;
	content: "";
}

#bottom {
	margin: 0 auto;
	width: 750px;
	font-size: 16px;
	margin-top: 5px;
	height: 35px;
	text-align: right;
}

#bottom a {
	text-decoration: none;
	color: #000;
}