<!--The content below is only a placeholder and can be replaced.-->
<div id="appScreen" [style.background]="'no-repeat center center fixed'" [style.background-image]="this.commonService.backgroundImage">
	<div id="headerArea">
		<div class="titleArea">
			<h1 class="mainTitle">{{title}}</h1><h2>A Horse Racing Manager game</h2>
			<div class="clear"></div>
		</div> 
		<div id="topMenu">
			<a class="menuItem" routerLink="/main">Home</a><span class="menuItemDiv"></span>
			<a class="menuItem" routerLink="/shop">Shop</a>
			<div class="rightMenu">
				<span>{{this.commonService.gameInstance.playerOne.name}}</span>
				<span class="money">Money: {{this.commonService.gameInstance.playerOne.money | currency: 'EUR': 'symbol':'1.0-0'}}</span>
				<span>Victories: {{this.commonService.gameInstance.playerOne.victories}}</span>
				<span>{{this.commonService.gameInstance.date | date: "longDate" }}</span>
			</div>
		</div>
	</div>
<router-outlet></router-outlet>
<div id="bottom"></div>
</div>
<div id="loadingBackground" [style.display]="'none'" [style.background-image]="this.commonService.loadingBackground"></div>
<div id="overlay" *ngIf="commonService.loading">{{commonService.loadingText}}</div>


