<!--The content below is only a placeholder and can be replaced.-->
<div id="titleArea">
	<h1 class="mainTitle">{{title}}</h1>
	<h2>A Horse Racing Manager game</h2> 
	<div id="topMenu">
		<a class="menuItem" routerLink="/main">Home</a>
		<a class="menuItem" routerLink="/shop">Shop</a>
		<div class="rightMenu">
			<span>{{this.currPlayer.name}}</span>
			<span>Money: {{this.currPlayer.money | currency: 'EUR'}}</span>
			<span>Victories: {{this.currPlayer.victories}}</span>
			<span>{{currGame.date | date: "longDate" }}</span>
		</div>
	</div>
</div>
<router-outlet></router-outlet>
<div id="overlay" *ngIf="commonService.loading"></div>



