#topMenu{
	border: 2px solid #ffd700;
	background-color:   #ffd700;
	padding: 5px;
	margin: 14px;
	min-width: 730px;
}

#topMenu .menuItem{
	margin-left: 20px;
}

#topMenu .menuItem:before {
	margin-right: 20px;
	content: "|"
}

#topMenu .menuItem:first-child:before {
	content: ""
}

h1 {
  color: #dddddd;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  margin: 0px;
}

h2 {
  color: #bbb;
  font-size: 0.9em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  margin-top: 0px;
  margin-bottom: 5px;
}

.rightMenu {
	float: right;
	color: #000;
	margin-right: 5px;
}

.rightMenu span {
	margin-right: 5px;
	float: left;
}

.rightMenu span:after {
	margin-left: 5px;
	content: "|"
}

.rightMenu span:last-child:after {
	margin-left: 15px;
	content: "";
}