#appScreen {
	min-height: 100%;
	-webkit-background-size: cover !important;
  	-moz-background-size: cover  !important;
  	-o-background-size: cover  !important;
  	background-size: cover  !important;
}

#headerArea {
	padding: 10px;
}

.titleArea {
	background-color: #447744;
	padding: 5px;
}

#topMenu{
	border: 2px solid #ffd700;
	background-color:   #ffd700;
	padding: 5px;
	margin: 10px;
	min-width: 730px;
	clear: both;
}

#topMenu .menuItem{
	margin-left: 20px;
}

#topMenu .menuItem:before {
	margin-right: 20px;
	content: "|"
}

#topMenu .menuItem:first-child:before {
	content: ""
}

h1 {
  	color: #dddddd;
  	font-family: Arial, Helvetica, sans-serif;
  	font-size: 2em;
  	margin: 0px;
  	float: left;
}

h2 {
	margin-left: 15px;
	margin-top: 16px;
	margin-bottom: 0px;
  	color: #bbb;
  	font-size: 0.9em;
  	font-family: Arial, Helvetica, sans-serif;
  	font-weight: lighter;
  	float: left;
}

.rightMenu {
	float: right;
	color: #000;
	margin-right: 5px;
}

.rightMenu span {
	margin-right: 5px;
	float: left;
}

.rightMenu span:after {
	margin-left: 5px;
	content: "|"
}

.rightMenu span:last-child:after {
	margin-left: 15px;
	content: "";
}

#bottom {
	height: 40px;
}