.mainContainer{
	display: flex;
}

.title{
}

.horseView{
	width: 250px;
	float: left;
	margin-left: 10px;
	border-right: 1px solid #aaa;
}

.playerView {
	width: 250px;
	float: left;
	margin-left: 10px;
	border-right: 1px solid #aaa;
	clear: both;
}

.coatOfArms{
	margin-bottom: 15px;
}

.nextArea {
	float: left;
	width: 190px;
	margin-left: 10px;
}

.mainButtonArea button{
	margin-bottom: 20px;
	width: 120px;
}

button{
	padding: 5px 20px 5px 20px;
	background-color: #000;
	color: #ddd;
}

.mainButtonArea button.disabled{
	background-color: #ccc;
	color: #999;
	margin-bottom: 5px;
}

button.race{
	background-color: #00ca00;
	color: #222;
	
}

button.training{
	background-color: #30c0f7;
	color: #222;
	
}

.buttonWarning{
	margin-bottom: 20px;
}






