.mainContainer{
	display: flex;
}

.title{
}

.horseView {
	width: 369px;
	float: left;
	margin-left: 10px;
}


.playerView {
	width: 225px;
	float: left;
	margin-left: 1px;
	clear: both;
}

horse {
	float: left;
	
}

.coatOfArms {
	margin: 5px;
	width: 120px;
}

.silkContainer{
	transform: scale(0.4);
	margin-top: -25px;
	margin-left: -10px;
	margin-bottom: 14px;
	width: 100px;
	height: 100px;
}

.horizontalDivision{
	margin-left: -5px;
}

.nextArea {
	float: left;
	width: 175px;
	margin-left: 10px;
}

.mainButtonArea{
	margin-top: 10px;
	margin-right: 5px;
}

.mainButtonArea button{
	margin-bottom: 15px;
	width: 130px;
}

.playerView .mainButtonArea button{
	margin-right: 10px;
	background: #fff;
	width: 95px;
	padding: 5px 5px 5px 5px;
}

button{
	padding: 5px 20px 5px 20px;
	color: #ddd;
}

button.race{
	background-color: #00ca00;
	color: #222;	
}

button.gotoArea{
	background-color: #bbb;
	color: #000;
}

button.exhibition{
	background-color: #006df2;
	color: #ddd;
	
}

button.skip{
	background-color: #000 !important;
	color: #ddd;
}


.buttonWarning{
	margin-bottom: 20px;
}






