<div id="main-screen"  class="screen">
	<h3>Main Screen</h3>
	<div class="mainContainer">
		<div class="playerView"><h4>Family</h4>
			<div class="coatOfArms">
				<div class="silk"  [style.background]="currPlayer.calculateBackground ? currPlayer.calculateBackground : currPlayer.color"></div>
				<div class="name">{{currPlayer.name}}</div>
			</div>
			Money: {{currPlayer.money | currency: 'EUR'}}<br/>
			Victores: {{currPlayer.victories}}<br/>
		</div>
		<div class="horseView"><h4>Horses</h4>
			<div *ngFor="let currHorse of currPlayer.horses"><horse [horse]="currHorse"></horse><br/></div>
		</div>
		<div class="nextArea">
			<h4>{{currGame.date | date: "longDate" }}</h4>
			<div class="mainButtonArea">
				<button class="race" (click)="gotoRace()">RACE</button>
				<button (click)="skipDay()">Skip Day</button>
			</div>
		</div>
	</div>
	<div class="warnings">{{warningText}}</div>
</div>
<div id="overlay" *ngIf="loading"></div>
