.mainContainer{
	display: flex;
}

.horseView {
	width: 369px;
	float: left;
	margin-left: 10px;
}


.playerView {
	width: 225px;
	float: left;
	margin-left: 1px;
	clear: both;
}

horse {
	float: left;
	
}

.coatOfArms {
	margin: 5px;
	width: 120px;
}

.silkContainer{
	transform: scale(0.4);
	margin-top: -25px;
	margin-left: -10px;
	margin-bottom: 14px;
	width: 100px;
	height: 100px;
}

.horizontalDivision{
	margin-left: -5px;
}

.rightArea {
	float: left;
	width: 185px;
	margin-left: 10px;
}

.mainButtonArea{
	margin-top: 10px;
	margin-right: 5px;
}

.mainButtonArea button{
	margin-top: 10px;
	margin-bottom: 15px;
	width: 160px;
}

h4 {
	margin-bottom: 10px;
}

.playerView .mainButtonArea button{
	margin-right: 10px;
	width: 95px;
	padding: 5px 5px 5px 5px;
}

button{
	padding: 5px 20px 5px 20px;
}

button.skip{
	background-color: #000 !important;
	color: #ddd;
}

.buttonWarning{
	margin-bottom: 20px;
}






