<div id="pickRace"  class="screen">
	<h3>Leagues</h3>
	<div><button (click)="gotoRace(currLeague)">Next</button></div>	  	
  	<div  class="raceLeague level{{currLeague.difficulty}}" *ngFor="let currLeague of leagues">
	  	<h4>{{currLeague.name}}</h4>
	  	<div>Entrance Fee per Race: {{currLeague.races[0].entranceFee | currency: 'EUR': 'symbol':'1.0-0'}}</div>
	  	<div>Difficulty: {{currLeague.difficulty | racedifficulty}}</div>
	  	<div class="leagueTable">
	  		<div class="leagueHeader leagueRow">
	  			<div class="teamName left clear">Team</div><div class="teamPoints left">Points</div>
	  		</div> 
	  		<div class="leagueRow" *ngFor="let currTeam of currLeague.teamsInLeague">
	  			<div class="teamName left clear" [style.color]="currTeam.color">{{currTeam.name}}</div>
	  			<div class="teamPoints left" [style.color]="currTeam.color">{{currTeam.points}}</div>	
	  		</div>
  		</div>
  	</div>
  	<div class="clear"></div> 
</div>
