.raceLeague{
	margin: 15px;
	padding: 10px;
	float: left;
	border: 5px solid #ffffff;
	width: 180px;
	box-shadow:
		3px 3px #666;
}

.raceLeague div {
	margin-bottom: 5px;
}

h4 {
	margin-top: 0px;
	margin-bottom: 10px;
}

.level3{
	border-color: #dfb667; 
}

.level5{
	border-color: #999;
	box-shadow:
		3px 3px #444;
}

.level9{
	border-color: #f2d732;
}

button {
	margin-top: 10px;
}