.buttonArea {
	margin-top: 5px;
}

.select {
	margin-bottom: -38px;
}

.myhorses.pickHorse{
	margin-bottom: 35px;
}

.title .edit{
	font-weight: normal;
}

.price {
	font-weight: bold;
}

.pickHorse.selected {
	border: 4px solid #0F13FF;
	box-shadow:
		3px 3px #001B57;
}

.stables.pickHorse{
	width: 170px;
}