<div [style.float]="horse.owned ? 'none' : 'left' " [ngClass]="{'stables': page=='stables'}"  [class]="page=='myhorses' || page=='stables' ? (horse.id == commonService.gameInstance.playerOne.selectedHorseId ? 'myhorses pickHorse selected' : 'myhorses pickHorse') : 'pickHorse'">
		<div class="title">{{horse.name}} <a *ngIf="page=='stables'" class="edit" (click)="editName()" [routerLink]="">Edit</a></div>
		Speed: {{horse.speed | number:'2.0-1'}}<br/>
		Acceleration: {{horse.acceleration | number:'2.0-1'}}<br/>
		Endurance: {{horse.endurance| number:'2.0-1' }}<br />
		<span *ngIf="horse.owned">	Form: {{horse.form | formstring}}<br/></span>
		<span *ngIf="horse.owned"><span class="left">Stamina:</span><div class="fullStaminaBar"><div class="staminaBar" [style.width.px]="horse.staminaDisplay"></div></div><br /></span> 
		<span class="price" *ngIf="!horse.owned">Price: {{horse.price | currency: 'EUR' : 'symbol':'1.0-0'}}<br /></span> 
		<div class="buttonArea" *ngIf="!horse.owned"><button (click)="buyHorse()" >Buy</button></div>
		<div class="buttonArea" *ngIf="(page=='myhorses' || page=='stables') && commonService.gameInstance.playerOne.horses.length > 1"><button class="select"  *ngIf="(page=='myhorses' || page == 'stables') && horse.id != commonService.gameInstance.playerOne.selectedHorseId" (click)="selectHorse()">Select</button></div>
</div>