<div id="training"  class="screen">
	<h3>Training</h3>
	Money: {{currPlayer.money | currency: 'EUR' : 'symbol':'1.0-0'}}
	<div *ngIf="debug" class="buyStats" >
	  	<div class="horsesContainer" *ngFor="let currHorse of playerTrainingHorses">
		  	<div class="pickHorse" [style.float]="'left'" [style.borderColor]="currHorse.baseHorse.id == commonService.gameInstance.playerOne.selectedHorseId ? '#0000ff' : '#ccc'"><div class="title">{{currHorse.baseHorse.name}}</div>
				Speed: {{currHorse.baseHorse.speed | number:'2.0-1'}}<br/>
				Endurance: {{currHorse.baseHorse.endurance | number:'2.0-1'}}<br />
				<span *ngIf="currHorse">	Form: {{currHorse.baseHorse.form | formstring}}<br/></span>
				<div class="buttonArea">
					<button (click)="trainSpeed(currHorse)">Train Speed ({{currHorse.trainSpeedPrice | currency: 'EUR' : 'symbol':'1.0-0'}})</button>
					<button (click)="trainEndurance(currHorse)">Train Endurance ({{currHorse.trainEndurancePrice | currency: 'EUR' : 'symbol':'1.0-0'}})</button>
				</div>
			</div> 
		</div>
	</div>
	<div class="trainersContainer" ><h3>Your trainers</h3>
		<div *ngIf="currPlayer.trainers.length == 0">No Trainers.</div>
		<div class="pickTrainer" *ngFor="let currTrainer of currPlayer.trainers">
				<div class="title">{{currTrainer.name}}</div>
				<div class="desc">
					<div class="description">Salary: {{currTrainer.salary | currency: 'EUR' : 'symbol':'1.0-0'}} per week</div>
					<div>Quality: <span class="star"></span><span class="star" [class.black]="currTrainer.quality<5" ></span><span class="star" [class.black]="currTrainer.quality<7"></span></div>
					<div><span>Training: </span><select [(ngModel)]='currTrainer.trainingHorseId'><option  *ngFor='let horse of currPlayer.horses' [ngValue]="horse.id">{{horse.name}}</option></select></div>
				</div>
				<button *ngIf="currTrainer.quality<7" (click)="upgradeTrainer(currTrainer)">Upgrade Trainer ({{currTrainer.upgradePrice | currency: 'EUR' : 'symbol':'1.0-0'}})</button>
				<a [routerLink]="['/training']" (click)="sellTrainer(currTrainer)">Sell trainer ({{currTrainer.price/2 | currency: 'EUR' : 'symbol':'1.0-0'}})</a>
			</div>
		</div>
	<div class="trainersContainer"><h3>Trainers to hire</h3>
		<div class="pickTrainer" *ngFor="let currTrainer of commonService.trainersToSell">
			<div class="title">{{currTrainer.name}}</div>
			<div class="desc">
				<div class="description">Salary: {{currTrainer.salary | currency: 'EUR' : 'symbol':'1.0-0'}} per week</div>
				<div>Quality: <span class="star"></span><span class="star" [class.black]="currTrainer.quality<5" ></span><span class="star" [class.black]="currTrainer.quality<7"></span></div>
			</div>
				<div class="buttonArea">
				<button (click)="buyTrainer(currTrainer)">Buy trainer ({{currTrainer.price | currency: 'EUR' : 'symbol':'1.0-0'}})</button>
				</div>
		</div>
	</div>
<div class="formButtonArea">
	<button (click)="mainScreen()">Continue</button>
</div>
	
</div>