#app-login {
	border: 2px solid #ddd;
	max-width: 500px;
  	margin: 0 auto;
  	margin-top: 10px;
  	padding: 10px;
}

.form{
	margin-bottom: 10px;
}

.label {
	margin-bottom: 5px;
}


button {
	margin-top: 20px;
}

.pickHorse{
	border: 2px solid #ccc;
	margin-right: 10px;
	padding: 5px;
	width: 110px;
	float: left;
}


.pickHorse .title {
	font-weight: bold;
	padding-bottom: 5px;
}