<div id="auction"  class="screen">
	<h3>Auction</h3>
	<div *ngIf="auctionHorse" class="auctionView">
		<h4>Horse:</h4>
		<horse [horse]="auctionHorse" [auction]="true"></horse>
		<div class="auctionForm">
			<div *ngIf="!auctionHorse.owned">
				<input class="inputPrice" min="0" type="number" step="100" [(ngModel)]="bidValue" placeholder="0 &euro;"/>
				<button class="secondary" (click)="bid()" [disabled]="auctionResult"><span *ngIf="bidValue>0">Bid {{bidValue | currency: 'EUR' : 'symbol':'1.0-0'}}</span><span *ngIf="bidValue<=0">No Bid</span></button>
			</div>
			<div *ngIf="auctionResult" class="auctionResult">
				<div>{{auctionResult}}</div>
				<div class="clear"></div>
			</div>
		</div>
	<div class="clear"></div>
	</div>
	<div class="clear"></div>
	<div class="formButtonArea">
		<button [disabled]="auctionHorse.owned && !auctionEnded" *ngIf="auctionHorse" class="primary" (click)="mainScreen()">{{auctionEnded ? "Continue" : "Skip Auction"}}</button>
	</div>	
</div>