.mainContainer{
	display: flex;
}

#overlay {
	position: absolute; width: 100%; height: 100%; top: 0; left: 0;
	background-color: rgba(30,30,30,0.7);
}

.title{
}

.horseView{
	width: 250px;
	float: left;
	margin-left: 10px;
	border-right: 1px solid #aaa;
}

.playerView {
	width: 250px;
	float: left;
	margin-left: 10px;
	border-right: 1px solid #aaa;
	clear: both;
}

.coatOfArms{
	margin-bottom: 15px;
}

button{
	padding: 5px 20px 5px 20px;
	background-color: #000;
	color: #ddd;
}

button.race{
	background-color: #00ca00;
	color: #333;
}

.nextArea {
	float: left;
	width: 150px;
	margin-left: 10px;
}

.mainButtonArea button{
	margin-bottom: 20px;
	width: 120px;
}




