<div id="main-screen">
	<h3>Main Screen</h3>
	<div class="horseView"><h4>Horse</h4>
		<horse [horse]="currPlayer.horses[0]"></horse><br/>
		Date: {{currDate | date: "longDate" }}
	</div>
	<div class="playerView"><h4>Family</h4>
		<div class="coatOfArms">
			<div class="silk" [style.backgroundColor]="currPlayer.color"  [style.background]="currPlayer.calculateBackground"></div>
			<div class="name">{{currPlayer.name}}</div>
		</div>
		Money: {{currPlayer.money}}<br/>
	</div>
	<div class="formButtonArea">
		<button class="race" (click)="gotoRace()">RACE</button>
		<button (click)="skipDay()">Skip Day</button>
	</div>
	<div class="warnings">
	{{warningText}}
	</div>
</div>
<div id="overlay" *ngIf="loading"></div>
