.screen{
	background: rgba(255, 240, 120, 0.96);
}

h3{
	margin-top: 5px;
	margin-bottom: 5px;
}

.levelText{
	font-size: 36px;
}

.horizontalDivision {
	margin-top: 5px;
}

.skillLabel{
	padding-top: 2px;
}

.skillPoints{
	margin-left: 5px;
	border: 2px solid #999;
	background-color: #fff;
	width: 30px;
	text-align: center;
	box-shadow:
		3px 3px #444;
}

button.reset{
	padding: 0px 3px 0px 3px;
	margin-left: 20px;
}

.skillHelpText{
	padding-top: 5px;
}

.skillRow{
	height: 30px;
	vertical-align: center;
}

.skillButton{
	padding: 0px 3px 0px 3px;
}

.space {
	clear: both;
	padding-top: 20px;
}

.pickHorse{
	width: 180px;
}


.levelUpStar {
  height: 100px;
  width: 100px;
  -webkit-clip-path: polygon(50% -1%, 61% 30%, 98% 30%, 68% 54%, 80% 89%, 50% 67%, 20% 89%, 32% 54%, 2% 30%, 39% 30%);
  clip-path: polygon(50% -1%, 61% 30%, 98% 30%, 68% 54%, 80% 89%, 50% 67%, 20% 89%, 32% 54%, 2% 30%, 39% 30%);
  background: #0000dd;
  color: white;
  margin: 0 auto;
}

.levelUpStar::before {
  display: inline-block;
  height: 100%;
  background: blue;
  vertical-align: middle;
  content: '';
}