<div id="about" class="screen">
	<div class="intro">
		<h3>About</h3>
		The Hippodrome is a online Horse Racing sports management game where you take control of a Horse Racing team.<br>
		It's a free game with 8-bit look and feel with real-time 2D races.
		<h3>Features</h3>
		<ul>
		<li>Manage your Horse Stamina, Form, etc, before each Race
		<li>Real-time 2D race system
		<li>Buy specific trainers for each Skill of your Horse.
		<li>Prestige (Experience) System with Skill points on Level Up.
		<li>Auction system for buying and selling Horses.
		</ul>
		<h3>Screenshots</h3>
		Race<br/>
		<img class="screenshot" src="assets/race-1.2.png"/> <br/>
		Home Screen<br>
		<img class="screenshot" src="assets/homescreen-1.2.png"/> <br/>
		Pre-Race<br/>
		<img class="screenshot" src="assets/race-selection.png"/> <br/>
		<h3>Technology</h3>
		The Hippodrome is a Open-source game and the code can be found at: <a href="https://github.com/adrianosimoes/hippodrome">https://github.com/adrianosimoes/hippodrome</a>
		It's a HTML5 game that uses Angular 6.0 as frontend technology and it saves the game data in the cookies, so it doesn't need any backend architecture so far.
		<h3>Contact</h3>
		You can contact us at: info[at]thehippodrome.net
		<h3>Where can I play the game?</h3>
		The game can be played both at the games website: <a href="https://thehippodrome.net">https://thehippodrome.net</a>.
		Or at itchio: <a href="https://imperador.itch.io/hippodrome">https://imperador.itch.io/hippodrome</a>.
	</div>
	<div class="clear"></div>
</div>
