:host {
	height: 100%;
}

.intro {
	margin-top: 10px;
	width: 380px;
	padding: 5px;
	float: left;
}

.screenshot-thumbnail{
	width: 250px;
}

.intro ul{
	margin-top: 5px;
	list-style-type: square;
}

.savedGame {
	margin-left: 30px;
	margin-top: 10px;
	margin-bottom: 20px;
	padding: 25px;
	padding-top: 0px;
	float: left;
	width: 280px;
}


h4{
	margin-bottom: 10px;
}

.border{
	border: 4px solid #777;
	border-radius: 2px;
	box-shadow:
		3px 3px #222;
}

.coatOfArms {
	margin: 10px;
	width: 130px;
}

.silkContainer{
	transform: scale(0.5);
	margin-top: -20px;
	margin-left: -10px;
	margin-bottom: 40px;
	width: 100px;
	height: 100px;
}

.newGame {
	margin-top: 10px;
	margin-left: 30px;
	width: 280px;
	padding: 25px;
	padding-top: 0px;
	float: left;
	
}

.form{
	margin-bottom: 10px;
}

.label {
	margin-bottom: 5px;
}