<div id="login" class="screen">
	<div *ngIf="savedGame" class="savedGame border">
		<h3>Load Game</h3>
		Team Name: {{savedGame.playerOne.name}} <br /> Money:
		{{savedGame.playerOne.money | currency: 'EUR'}} <br /> Date:
		{{savedGame.date | date: "longDate"}}
		<div class="formButtonArea">
			<button (click)="loadGame()">Load Game</button>
		</div>
	</div>
	<div class="newGame border">
		<h3>New Game</h3>
		<h4>Horse Breeding Family Info</h4>
		<div class="form">
			<div class="label">
				<label>Team Name: <input [(ngModel)]="player.name"
					placeholder="The McCoys" autofocus />
				</label>
			</div>
			<div class="label">
				<label>Main Color: <input [(ngModel)]="player.color"
					(change)="recalculateColor()" type="color" placeholder="color" />
				</label>
			</div>
			<div class="label">
				<label>Sec. Color <input [(ngModel)]="player.secColor"
					(change)="recalculateColor()" type="color" placeholder="color" />
				</label>
			</div>
			<div class="label">
				<label>Silk Shape:
					<button (click)="nextSilkType()">Next</button>
				</label>
			</div>
		</div>
		Coat of Arms:
		<div class="coatOfArms">
			<div class="silkContainer">
				<div class="silk" [style.background]="player.calculateBackground"></div>
			</div>
			<div class="name">{{player.name}}</div>
			<div class="clear"></div>
		</div>

		<div class="formButtonArea">
			<button (click)="saveForm()">Continue</button>
		</div>
	</div>
	<div class="clear"></div>
</div>
