<div id="login" class="screen">
	<div *ngIf="savedGame" class="savedGame" >
		<h3>Saved Game</h3>
		Team Name: {{savedGame.playerOne.name}} <br />
		Money: {{savedGame.playerOne.money | currency: 'EUR'}} <br />
		Date: {{savedGame.date | date: "longDate"}}
		<div class="formButtonArea">
			<button (click)="loadGame()">Load Game</button>
		</div>
	</div>
	<h3>Horse Breeding Family Info</h3>
	<div class="form">
	 <div class="label">
	    <label>Team Name:
	      <input [(ngModel)]="player.name" placeholder="The McCoys" autofocus />
	    </label>
      </div>
    <div class="label">
	     <label>Main Color:
	      <input [(ngModel)]="player.color" (change)="recalculateColor()" type="color" placeholder="color" />
	    </label>
    </div>
     <div class="label">
	     <label>Sec. Color
	      <input [(ngModel)]="player.secColor" (change)="recalculateColor()" type="color"  placeholder="color" /> 
	    </label>
    </div>
     <div class="label">
	     <label>Silk Shape:
	     <button (click)="nextSilkType()">Next</button>
	    </label>
    </div>
	</div>
	Coat of Arms:
	<div class="coatOfArmsContainer">
		<div class="coatOfArms">
			<div class="silk" [style.background]="player.calculateBackground">
			</div>
			<div class="name">{{player.name}}</div>
		</div>
	</div>
	
	<div class="formButtonArea">
		<button (click)="saveForm()">Continue</button>
	</div>
</div>
