<div id="login" class="screen">
	<div *ngIf="savedGame" class="savedGame" >
		Saved Game:<br />
		Team Name: {{savedGame.playerOne.name}} <br />
		Money: {{savedGame.playerOne.money}} <br />
		Date: {{savedGame.date | date: "longDate"}}<br />
		<button (click)="loadGame()">Load Game</button>
	</div>
	<h3>Horse Breeding Family Info</h3>
	<div class="form">
	 <div class="label">
	    <label>Team Name:
	      <input [(ngModel)]="player.name" placeholder="name">
	    </label>
      </div>
    <div class="label">
	     <label>Main Color:
	      <input [(ngModel)]="player.color" placeholder="color">
	    </label>
    <!-- </div>
     <div class="label">
	     <label>Secondary Color:
	      <input [(ngModel)]="player.secColor" placeholder="color">
	    </label>
    </div> -->
	</div>
	Coat of Arms:
	<div class="coatOfArmsContainer">
		<div class="coatOfArms">
			<div class="silk" [style.background]="player.calculateBackground ? player.calculateBackground : player.color">
			</div>
			<div class="name">{{player.name}}</div>
		</div>
	</div>
	
	<div class="formButtonArea">
		<button (click)="saveForm()">Continue</button>
	</div>
</div>
