<div id="pickRace"  class="screen">
	<h3>Leagues</h3>
	<div><button (click)="next()">Continue</button></div>	  	
  	<div  class="raceLeague level{{currLeague.difficulty}}" *ngFor="let currLeague of leagues">
	  	<h4>{{currLeague.name}}</h4>
	  	<div>Difficulty: {{currLeague.difficulty | racedifficulty}}</div>
	  	<div class="leagueTable">
	  		<div class="leagueHeader leagueRow">
	  		<div class="teamRanking left clear">&nbsp;</div><div class="teamName left">Team</div><div class="teamPoints left">Points</div>
	  	</div> 
	  		<div class="leagueRow" *ngFor="let currTeam of currLeague.teamsInLeague; let i = index">
	  			<div class="teamRanking left clear" [class.promote]="currLeague.difficulty<9 && i<2" [class.demote]="currLeague.difficulty>2 && i>=6">{{i+1}}</div>
	  			<div class="teamName left" [style.color]="currTeam.color">{{currTeam.name}}</div>
	  			<div class="teamPoints left" [style.color]="currTeam.color">{{currTeam.points}}</div>	
	  		</div>
  		</div>
  	</div>
  	<div class="clear"></div> 
</div>
