.raceLeague{
	margin: 15px;
	padding: 10px;
	float: left;
	border: 5px solid #ffffff;
	width: 320px;
	box-shadow:
		3px 3px #666;
}

.raceLeague  >div {
	margin-bottom: 5px;
}

h4 {
	margin-top: 0px;
	margin-bottom: 10px;
}

.level3{
	border-color: #dfb667; 
}

.level5{
	border-color: #999;
	box-shadow:
		3px 3px #444;
}

.level9{
	border-color: #f2d732;
}

button {
	margin-top: 10px;
}

.leagueTable {
	margin: 15px;
	background-color: #fff;
}

.leagueHeader div{
	display: table-header-group;
	border-top: 2px solid #000 !important; 
	font-weight: bold;
}

.leagueRow{
	display: table-row;
}

.leagueRow div {
	border: 2px solid #000;
	display: table-cell;
	border-top: none; 
}

.teamRanking{
	width: 20px;
	padding: 2px;
	text-align: center;
	border-right: none !important;
}

.teamName{
	width: 182px;
	border-right: none !important;
	padding: 2px;
	padding-left: 5px;
}

.ownTeam{
	text-decoration: underline;
}

.promote{
	background-color: #a4ff51;
}

.demote{
	background-color: #e79292;
}

.teamPoints{
	width: 65px;
	text-align: right;
	padding: 2px;	
}